/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
/*  */

h3{
	font-size: 3vmin;
}

header{
	margin-top: 2vh;
	margin-left: 5vmin;
}

header img{
	padding-top: 0.2vh;
	vertical-align: text-bottom;
	height: 5vh;
}

nav{
	display: inline-block;
	font-size: 3vmin;
	margin: 3vh 5vw 4vh 1vw;
}

nav a{
	color:  #7e7373a4;
	text-decoration: none;
	margin: 2vh 3.5vw;
}

nav a:visited{
	color: #7e7373a4;
}

.hero{
	/* padding: 125px 300px; */
	display: block;
	padding: 10vmin;
	padding-left: 18vmin;
	margin: 5vh 3.5vw
}

.hero h1{
	display: inline-block;
	font-size: 14vmin;
	text-align: center;
}

.hero button{
	font-size: 4vmin;
	display: inline-block;
	vertical-align: bottom;
	margin-left: -25.25vw;
	margin-right: 15vw;
	background: white;
	height: 8vh;
	width: 18vw;
	border-style: solid;
	border-color: black;
}

.hero img{
	display: inline-block;
	vertical-align: middle;
	margin-top: -22%;
	height: 60vmin;
	width: 60vmin;
}


.hero img{
	display: inline-block;
}

.info-section:before{
	display: block;
	content:"";
	margin: 0vh 10vw;
	border-top: 3px black solid;
	padding-top: 5vh;
	font-size: 3vmin;
}

.inline-section{
	display: inline-block;
	width: 35vw;
	height: 5vh;
}

.inline-section p{
	display: inline-block;
	font-size: 2vmin;
	line-height: 1.25em;
}

.middle-img{
	width: 100vw;
	padding: 2vh 10vw;
	text-align: center;
}

.inline-left{
	margin-left: 10vw;
}

.first-row{
	width: 40vw;
}

.second-row{
	width: 25vw;
}

footer{
	display: block;
	margin: 5vh 10vw 0vh;
	border-top: 3px black solid;
	padding-top: 5vh;
	font-size: 3vmin;
}

address{
	display: block;
	padding-top: 1em;
}

.communications{
	margin-top: 1em;
	line-height: 2em;
}

.copyright{
	text-align: center;
}
