@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

/* Stretch 1 */
header{
    background-color: darkcyan;
    position: fixed;
    z-index: initial;
    margin: 0;
    margin-top: -5vmin;
    width: 100vw;
}

header img{
    margin-right: 0;
}

/* Stretch 2 */
nav a{
    color: black;
    font-family: 'Exo 2', sans-serif;
}

nav a:visited{
    color: black;
}

nav a:hover{
    color: white;
}

.hero{
    padding-top: 17vh;
}

/* Stretch 3 */
.vision-header{
    margin-top: auto;
}

.vision-content{
    padding-top: 12vh;
    text-align: center;
}

.vision-content p{
    display: inline-block;
    width: 40vw;
    line-height: 2em;
}

.vision-content h1{
    display: inline-block;
    width: 40vw;
    font-size: 4vmin;
    text-decoration: underline;
}

.vision-content img{
    display: inline-block;
    vertical-align: middle;
    height: 30vh;
    margin-top: -18vh;
    padding-left: 2vw;
}

/* Stretch 5 */
@keyframes selected{
    from{
        color: black;
        font-size: 3vmin;
    }
    to{
        color: white;
        font-size: 3.25vmin;
    }
}

.vision-header nav a:hover{
    animation-name: selected;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    margin-right: 3.5vw;
}

/* Stretch 4 */
.stretch-header{
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 80vw;
}

.hero-stretch{
    background-image: url("../img/header-img.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 50vw;
}

.hero-stretch button{
    vertical-align: -10vh;
}

.info-section-stretch{
    background-image: url('../img/mid-page-accent.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 79vw 22vh;
}

.info-section-stretch .first-row{
    margin-bottom: 32vh;
}

